In [1]:
import pyspark

In [2]:
import findspark
from pyspark.sql import SparkSession

In [3]:
findspark.init()

In [4]:
findspark.find()

'C:\\spark\\spark-3.3.2-bin-hadoop2'

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('myspark').getOrCreate()

In [7]:
spark

In [8]:
# /* SparkSession was introduced in version 2.0, It is an entry point to underlying PySpark functionality 
# in order to programmatically create PySpark RDD, DataFrame. 
# Itâ€™s object spark is default available in pyspark-shell and it can be created programmatically using SparkSession.*/

In [9]:
df=spark.read.csv('practice.txt')

In [10]:
df

DataFrame[_c0: string, _c1: string, _c2: string]

In [11]:
df.show()

+---+-----+----+
|_c0|  _c1| _c2|
+---+-----+----+
|  1|mohan|male|
|  1|mohan|male|
|  1|mohan|male|
|  1|mohan|male|
|  1|mohan|male|
|  1|mohan|male|
|  1|mohan|male|
|  1|roahn|male|
|  1|sohan|male|
+---+-----+----+

In [12]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

In [14]:
df=spark.read.options("header",True).csv('practice.txt')
df.show()
# rdd=spark.read.option("header",True).csv("filepath")

TypeError: options() takes 1 positional argument but 3 were given

In [15]:
# you can read multiples files from directory as 
# df.read.option().csv("filepath")

In [16]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('new').getOrCreate()

In [17]:
data=[(1,'Rohan'),(2,'sohan'),(3,"mona"),(4,"raunak")]
columns=["id","name"]

In [18]:
df=spark.createDataFrame(data,columns)

In [19]:
df.show()

+---+------+
| id|  name|
+---+------+
|  1| Rohan|
|  2| sohan|
|  3|  mona|
|  4|raunak|
+---+------+

In [20]:
df.show(1) # show only that much rows

+---+-----+
| id| name|
+---+-----+
|  1|Rohan|
+---+-----+
only showing top 1 row

In [21]:
df=spark.read.options(header=False,inferSchema=True).csv('practice.txt')

In [22]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

In [23]:
df.show()

+---+-----+----+
|_c0|  _c1| _c2|
+---+-----+----+
|  1|mohan|male|
|  1|mohan|male|
|  1|mohan|male|
|  1|mohan|male|
|  1|mohan|male|
|  1|mohan|male|
|  1|mohan|male|
|  1|roahn|male|
|  1|sohan|male|
+---+-----+----+

# Starting----->

In [24]:
df=spark.read.options(header=True,inferSchema=True).csv(r'C:\Users\risha\OneDrive\Desktop\Book1.csv')
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- course: string (nullable = true)
 |-- sex: string (nullable = true)

In [25]:
df.show()

+-------+---+------+---+
|   Name|age|course|sex|
+-------+---+------+---+
| Rishav| 24|  Upsc|  M|
|  Richa| 24|IITJAM|  F|
|Srishti| 24|  Upsc|  F|
| Rishav| 24|IITJAM|  M|
|   Neha| 24|  Upsc|  F|
| Rishav| 24|   SSC|  M|
| Raghav| 24|IITJAM|  M|
|  Tanya| 24|   SSC|  F|
|Rishabh| 24|  Upsc|  M|
|  Naman| 24|IITJAM|  M|
|  Rahul| 24|  Upsc|  M|
| Pandey| 24|  Upsc|  M|
|   Alok| 24|   SSC|  M|
+-------+---+------+---+

In [26]:
df.select("Name","age").show()

+-------+---+
|   Name|age|
+-------+---+
| Rishav| 24|
|  Richa| 24|
|Srishti| 24|
| Rishav| 24|
|   Neha| 24|
| Rishav| 24|
| Raghav| 24|
|  Tanya| 24|
|Rishabh| 24|
|  Naman| 24|
|  Rahul| 24|
| Pandey| 24|
|   Alok| 24|
+-------+---+

In [27]:
df.select(df.columns[:2]).show() # in select we have to name the columns

+-------+---+
|   Name|age|
+-------+---+
| Rishav| 24|
|  Richa| 24|
|Srishti| 24|
| Rishav| 24|
|   Neha| 24|
| Rishav| 24|
| Raghav| 24|
|  Tanya| 24|
|Rishabh| 24|
|  Naman| 24|
|  Rahul| 24|
| Pandey| 24|
|   Alok| 24|
+-------+---+

In [28]:
type(df.collect())

list

In [29]:
df.collect()[0]

Row(Name='Rishav', age=24, course='Upsc', sex='M')

In [30]:
# select() is a transformation that returns a new DataFrame and holds the columns that are selected whereas 
# collect() is an action that returns the entire data set in an Array to the driver.
# It is giving the info as a list of any pyspark d

In [42]:
from pyspark.sql.functions import lit,col
df.withColumn("sex",lit("M")).show()  # lit function is used to create a new column with a value

+-------+---+------+---+
|   Name|age|course|sex|
+-------+---+------+---+
| Rishav| 24|  Upsc|  M|
|  Richa| 24|IITJAM|  M|
|Srishti| 24|  Upsc|  M|
| Rishav| 24|IITJAM|  M|
|   Neha| 24|  Upsc|  M|
| Rishav| 24|   SSC|  M|
| Raghav| 24|IITJAM|  M|
|  Tanya| 24|   SSC|  M|
|Rishabh| 24|  Upsc|  M|
|  Naman| 24|IITJAM|  M|
|  Rahul| 24|  Upsc|  M|
| Pandey| 24|  Upsc|  M|
|   Alok| 24|   SSC|  M|
+-------+---+------+---+

In [ ]:
# HOw to filter

In [48]:
df.filter(df.course=="Upsc").show()

+-------+---+------+---+
|   Name|age|course|sex|
+-------+---+------+---+
| Rishav| 24|  Upsc|  M|
|Srishti| 24|  Upsc|  F|
|   Neha| 24|  Upsc|  F|
|Rishabh| 24|  Upsc|  M|
|  Rahul| 24|  Upsc|  M|
| Pandey| 24|  Upsc|  M|
+-------+---+------+---+

In [54]:
df.filter(col('sex')=="F").show() # single conditions

+-------+---+------+---+
|   Name|age|course|sex|
+-------+---+------+---+
|  Richa| 24|IITJAM|  F|
|Srishti| 24|  Upsc|  F|
|   Neha| 24|  Upsc|  F|
|  Tanya| 24|   SSC|  F|
+-------+---+------+---+

In [56]:
df.filter((col("course")=="Upsc") & (col("sex")=="F")).show() #multiple conditions

+-------+---+------+---+
|   Name|age|course|sex|
+-------+---+------+---+
|Srishti| 24|  Upsc|  F|
|   Neha| 24|  Upsc|  F|
+-------+---+------+---+

In [60]:
df.where(df.Name=="Rishav").show()# you can use where or filter method to filter out values

+------+---+------+---+
|  Name|age|course|sex|
+------+---+------+---+
|Rishav| 24|  Upsc|  M|
|Rishav| 24|IITJAM|  M|
|Rishav| 24|   SSC|  M|
+------+---+------+---+

In [65]:
df.sort("Name").show()

+-------+---+------+---+
|   Name|age|course|sex|
+-------+---+------+---+
|   Alok| 24|   SSC|  M|
|  Naman| 24|IITJAM|  M|
|   Neha| 24|  Upsc|  F|
| Pandey| 24|  Upsc|  M|
| Raghav| 24|IITJAM|  M|
|  Rahul| 24|  Upsc|  M|
|  Richa| 24|IITJAM|  F|
|Rishabh| 24|  Upsc|  M|
| Rishav| 24|IITJAM|  M|
| Rishav| 24|   SSC|  M|
| Rishav| 24|  Upsc|  M|
|Srishti| 24|  Upsc|  F|
|  Tanya| 24|   SSC|  F|
+-------+---+------+---+

In [68]:
df.sort(col("Name").desc()).show()

+-------+---+------+---+
|   Name|age|course|sex|
+-------+---+------+---+
|  Tanya| 24|   SSC|  F|
|Srishti| 24|  Upsc|  F|
| Rishav| 24|  Upsc|  M|
| Rishav| 24|IITJAM|  M|
| Rishav| 24|   SSC|  M|
|Rishabh| 24|  Upsc|  M|
|  Richa| 24|IITJAM|  F|
|  Rahul| 24|  Upsc|  M|
| Raghav| 24|IITJAM|  M|
| Pandey| 24|  Upsc|  M|
|   Neha| 24|  Upsc|  F|
|  Naman| 24|IITJAM|  M|
|   Alok| 24|   SSC|  M|
+-------+---+------+---+

In [71]:
df.sort(col("course").asc()).show(truncate=False)

+-------+---+------+---+
|Name   |age|course|sex|
+-------+---+------+---+
|Naman  |24 |IITJAM|M  |
|Richa  |24 |IITJAM|F  |
|Rishav |24 |IITJAM|M  |
|Raghav |24 |IITJAM|M  |
|Rishav |24 |SSC   |M  |
|Alok   |24 |SSC   |M  |
|Tanya  |24 |SSC   |F  |
|Rishav |24 |Upsc  |M  |
|Srishti|24 |Upsc  |F  |
|Rahul  |24 |Upsc  |M  |
|Neha   |24 |Upsc  |F  |
|Pandey |24 |Upsc  |M  |
|Rishabh|24 |Upsc  |M  |
+-------+---+------+---+

In [75]:
df.orderBy(col("Name").desc()).show() # we can use both orderBy or sort functions

+-------+---+------+---+
|   Name|age|course|sex|
+-------+---+------+---+
|  Tanya| 24|   SSC|  F|
|Srishti| 24|  Upsc|  F|
| Rishav| 24|  Upsc|  M|
| Rishav| 24|IITJAM|  M|
| Rishav| 24|   SSC|  M|
|Rishabh| 24|  Upsc|  M|
|  Richa| 24|IITJAM|  F|
|  Rahul| 24|  Upsc|  M|
| Raghav| 24|IITJAM|  M|
| Pandey| 24|  Upsc|  M|
|   Neha| 24|  Upsc|  F|
|  Naman| 24|IITJAM|  M|
|   Alok| 24|   SSC|  M|
+-------+---+------+---+